{% extends 'base.html' %} {% load static i18n l10n %} {% block content %}
<div class="content">
  <form class="box" action="" method="post">
    <h1>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="1em"
        viewBox="0 0 384 512"
      >
        <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
        <path
          d="M256 48V64c0 17.7-14.3 32-32 32H160c-17.7 0-32-14.3-32-32V48H64c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16H320c8.8 0 16-7.2 16-16V64c0-8.8-7.2-16-16-16H256zM0 64C0 28.7 28.7 0 64 0H320c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64zM160 320h64c44.2 0 80 35.8 80 80c0 8.8-7.2 16-16 16H96c-8.8 0-16-7.2-16-16c0-44.2 35.8-80 80-80zm-32-96a64 64 0 1 1 128 0 64 64 0 1 1 -128 0z"
        /></svg
      >&nbsp;Modifier
    </h1>
    {% csrf_token %} {% for field in form %}
    <div class="field">
      <label class="label">{{field.label}}</label>
      <div class="control">{{field}}</div>
      <div class="help">{{field.help_text}}</div>
    </div>
    {%endfor%}
    <div class="buttons">
      <button class="button is-rounded is-primary" type="submit" name="button">
        {% trans 'Save' %}
      </button>
      <a class="button is-rounded is-link" href="{% url 'password_change' %}"
        >{% trans 'Change password' %}</a
      >
    </div>
  </form>
</div>
{% endblock %}
