{% extends 'base.html' %} {% load i18n %} {% block content %}
<div class="content">
  <form class="box" method="post">
    <h1>{% trans 'Log in' %}</h1>
    {% csrf_token %}
    <div class="field">
      <label class="label">{% trans 'User' %}</label>
      <div class="control">
        <input
          class="input"
          id="username"
          name="username"
          type="text"
          placeholder="alfred"
          required
        />
      </div>
    </div>

    <div class="field">
      <label class="label">{% trans 'Password'%}</label>
      <div class="control">
        <input
          class="input"
          type="password"
          id="password"
          name="password"
          placeholder="********"
        />
        <a href="{% url 'password_reset' %}" class="help has-text-right"
          >Mot de passe oublié ?</a
        >
      </div>
    </div>
    <button
      class="button is-rounded is-primary"
      type="submit"
      name="button"
      type="submit"
    >
      {% trans "Log in"%}
    </button>
  </form>
</div>

{% endblock %}
