{% extends 'base.html' %} {% load i18n %} {% block content %}
<div class="content">
  <form class="box" method="post">
    <h1>{% trans 'Change password' %}</h1>
    {% csrf_token %} {% for field in form %}
    <div class="field">
      <label class="label">{{field.label}}</label>
      <div class="control">{{field}}</div>
      <div class="help">{{field.help_text}}</div>
    </div>
    {%endfor%}
    <button
      class="button is-rounded is-primary"
      type="submit"
      name="button"
      type="submit"
    >
      {% trans "Save"%}
    </button>
  </form>
</div>

{% endblock %}
