{% extends "registration/registration_base.html" %} {% load i18n %} {% block
title %} {% trans "Register for an account" %} {% endblock %} {% block content
%}
<div class="content">
  <form class="box" method="post" action="">
    <h1>{% trans 'Sign up' %}</h1>
    {% csrf_token %}
    <div class="field">
      <label for="id_username" class="label">{% trans 'Username' %}</label>
      <div class="help">
        Requis. 150 caractères maximum. Uniquement des lettres, nombres et les
        caractères «&nbsp;@&nbsp;», «&nbsp;.&nbsp;», «&nbsp;+&nbsp;»,
        «&nbsp;-&nbsp;» et «&nbsp;_&nbsp;».
      </div>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Text input"
          name="username"
          maxlength="150"
          autofocus=""
          required=""
          id="id_username"
        />
      </div>
    </div>
    <div class="field">
      <label class="label" for="id_email" class="required"
        >{% trans 'Email' %}</label
      >
      <div class="help">
        Requis. 150 caractères maximum. Uniquement des lettres, nombres et les
        caractères «&nbsp;@&nbsp;», «&nbsp;.&nbsp;», «&nbsp;+&nbsp;»,
        «&nbsp;-&nbsp;» et «&nbsp;_&nbsp;».
      </div>
      <div class="control">
        <input
          class="input"
          type="email"
          name="email"
          maxlength="320"
          required=""
          id="id_email"
        />
      </div>
    </div>

    <div class="field">
      <label for="id_password1" class="label" required
        >{% trans 'Password' %}</label
      >

      <div class="help">
        <ul>
          <li>
            Votre mot de passe ne peut pas trop ressembler à vos autres
            informations personnelles.
          </li>
          <li>Votre mot de passe doit contenir au minimum 8 caractères.</li>
          <li>
            Votre mot de passe ne peut pas être un mot de passe couramment
            utilisé.
          </li>
          <li>Votre mot de passe ne peut pas être entièrement numérique.</li>
        </ul>
      </div>

      <input
        class="input"
        type="password"
        name="password1"
        autocomplete="new-password"
        required=""
        id="id_password1"
      />

      <input
        class="input"
        type="password"
        name="password2"
        autocomplete="new-password"
        required=""
        id="id_password2"
      />
    </div>

    <input type="submit" value="Envoyer" />
  </form>
</div>
{% endblock %} {% comment %} **registration/registration_form.html** Used to
show the form users will fill out to register. By default, has the following
context: ``form`` The registration form. This will be an instance of some
subclass of ``django.forms.Form``; consult `Django's forms documentation
<http://docs.djangoproject.com/en/dev/topics/forms/>`_ for information on how to
display this in a template. {% endcomment %}
