{% extends 'base.html' %} {% block more_assets %}
<script
  src="https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js"
  defer
></script>
{% endblock %} {% block content %}

<div id="calendar"></div>

{% endblock %} {% block script %}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const calendarEl = document.getElementById("calendar");
    const calendar = new FullCalendar.Calendar(calendarEl, {
      timeZone: "Europe/Paris",
      initialView: "listWeek",
      windowResize: function (view) {
        console.log(this);
        if (window.outerWidth < 514) {
          calendarEl.fullCalendar("changeView", "basicDay");
        } else {
          calendarEl.fullCalendar("changeView", "month");
        }
      },
      eventDidMount(arg) {
        console.debug(arg);
      },
      eventSources: [
        {
          url: "{% url 'tour-list' %}", // use the `url` property
          color: "green",
          textColor: "black", // an option!
        },
      ],
    });
    calendar.render();
  });
</script>
{% endblock %}
