{% extends 'base.html' %} {% load static i18n l10n %} {% block content %}
<div class="content">
  <form class="box" method="post">
    <h1>Connexion</h1>
    {% csrf_token %} {{form.as_div}}
    <button
      class="button is-rounded is-primary"
      type="submit"
      name="button"
      type="submit"
    >
      Enregistrer
    </button>
  </form>
</div>
{% endblock %} {% block script %} {% endblock %}
