{% extends 'base.html' %} {% block content %}
    <div class="panel">
        <div class="panel-heading">
            <strong>{{ object.start|date:'l d N Y' }}</strong>&nbsp;
            <span
                    class="tag is-{% if object.day_time|safe == _('morning') %}primary{% else %}warning{% endif %}"
            >{{ object.start | date:"A" }}</span>
        </div>
        <div class="panel-block">
            <div class="content">
                <p>
                    {% if object.kids.count > 0 and object.companion %}
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                height="1em"
                                viewBox="0 0 512 512"
                        >
                            <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                            <path
                                    style="fill: #2ec27e"
                                    d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
                            />
                        </svg>
                    {% elif object.kids.count > 0 and not object.companion %}
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                height="1em"
                                viewBox="0 0 512 512"
                        >
                            <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                            <path
                                    style="fill: #e01b24"
                                    d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"
                            />
                        </svg>
                    {% else %}
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                height="1em"
                                viewBox="0 0 448 512"
                        >
                            <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                            <path
                                    style="fill: #c0bcbf"
                                    d="M0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96z"
                            />
                        </svg>
                    {% endif %}
                    <strong
                            class="{% if object.kids.count > 0 and not object.companion %}has-text-danger-dark{% endif %}"
                    >{{ object.companion.get_full_name|default:"Personne!!!" }}</strong
                    >{% if object.companion %}
                    <small>@{{ object.companion }}</small>
                {% endif %}
                    <span
                            class="tag is-{% if object.kids.count %}primary{% else %}disable{% endif %}"
                    >{{ object.kids.count }}</span
                    >
                </p>
                <p>
                    {% for kid in kids %}
                        <span
                                class="tag {% if kid in object.kids.all %}is-link is-medium{% else %}is-normal{% endif %}"
                        >{{ kid.name }}{% if kid in object.kids.all %}{% endif %}</span
                        >
                    {% endfor %}
                </p>
            </div>
        </div>
        <form action="" method="post">
            <div class="panel-block">
                {% csrf_token %}
                <div class="content">
                    <h2>Modifier</h2>
                    <div class="field">
                        <label class="label" for="id_companion">Accompagnateur</label>
                        <div class="control">
                            <div class="select">{{ form.companion }}</div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="id_companion">Enfants</label>
                        <div class="control">{{ form.kids }}</div>
                    </div>
                </div>
            </div>
            <div class="panel-block">
                <input class="button is-rounded is-primary is-fullwidth" name="button" type="submit"/>
            </div>
        </form>
    </div>
{% endblock %} {% block script %}
{% endblock %}
{% block style %}


{% endblock %}
