{% extends 'base.html' %} {% load static i18n l10n %} {% block content %}
<div class="content">
  <nav
    class="panel fullheight"
  >
    <p class="panel-heading" style="margin-bottom: unset !important">
      {{title}} {% if home %}<a
        class="button is-info is-rounded is-light is-small"
        href="{% url 'tours' %}"
      >
        {% trans "See all year" %} </a
      >{% endif %}
      <button
        class="js-modal-trigger button is-rounded is-small is-info"
        data-target="filter-tours-modal"
      >
        {% trans "Filtering" %}</button
      >{% if filter.is_bound %}
      <a class="button is-rounded is-small is-danger" href="{% url 'tours' %}"
        >{% trans "Clear filters" %}
      </a>
      {% endif %}
    </p>
    <div id="filter-tours-modal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <form method="get">
          <header class="modal-card-head">
            <p class="modal-card-title">Filtrer les tournées</p>
            <button class="delete is-danger" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
            <div class="field">
              <label class="label" for="id_companion">Accompagnateur</label>
              <div class="control">
                <div class="select">{{filter.form.companion}}</div>
              </div>
            </div>
            <div class="field">
              <label class="label" for="id_companion">Enfants</label>
              <div class="control">{{filter.form.kids}}</div>
            </div>
          </section>
          <footer class="modal-card-foot">
            <input class="button is-primary" type="submit" />
            <button class="button is-danger">Cancel</button>
          </footer>
        </form>
      </div>
    </div>
    <div
      style="
        height: calc(100% - 55px);
        max-height: 100% !important;
        overflow: auto;
      "
    >
      {% for tour in filter.qs %}
      <div
        class="panel-block {% if tour.kids.count > 0 and not tour.companion %} has-background-danger-light {% elif tour.kids.count > 0 and tour.companion %} has-background-primary-light {% else %} has-background-info-light {% endif %}"
      >
        <div class="column">
          <a href="{% url 'tour_detail' pk=tour.pk %}" title="Modifier">
            {% if tour.kids.count > 0 and tour.companion %}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 512 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                style="fill: #2ec27e"
                d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
              />
            </svg>
            {% elif tour.kids.count > 0 and not tour.companion %}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 512 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                style="fill: #e01b24"
                d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"
              />
            </svg>
            {% else %}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 448 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                style="fill: #c0bcbf"
                d="M0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96z"
              />
            </svg>
            {% endif %}

            <strong>{{tour.start | date:"l d N Y"}}</strong>&nbsp;
            <span
              class="tag is-{% if tour.day_time|safe == _('morning') %}primary{% else %}warning{%endif%}"
              >{{tour.start | date:"A"}}</span
            >
          </a>
        </div>
        <div class="column">
          <strong
            class="{% if tour.kids.count > 0 and not tour.companion %}has-text-danger-dark{% endif %}"
            >{{tour.companion.get_full_name|default:"Personne!!!" }}</strong
          >{% if tour.companion %}
          <small>@{{tour.companion}}</small>
          {% endif %}
          <span
            class="tag is-{% if tour.kids.count %}primary{% else %}disable{%endif%} js-modal-trigger"
            data-target="modal-js-{{tour.pk}}"
            >{{ tour.kids.count }}</span
          >
        </div>
      </div>
      <div id="modal-js-{{tour.pk}}" class="modal">
        <div class="modal-background"></div>

        <div class="modal-content">
          <div class="box">
            <h1>{{tour.kids.count}}/{{kids.count}} enfants</h1>
            {% for kid in kids %}
            <span
              class="tag {% if kid in tour.kids.all %}is-link is-medium{% else %}is-normal{%endif%}"
              >{{kid.name}}{% if kid in tour.kids.all %}{% endif%}</span
            >
            {%endfor%}
            <!-- Your content -->
          </div>
        </div>

        <button class="modal-close is-large" aria-label="close"></button>
      </div>
      {% endfor %}
    </div>
  </nav>
</div>

{% endblock %} {% block script %}
<script></script>
{% endblock %}
{% block style %}
    <style>
      .fullheight {
        height: calc(100vh - 150px);
        max-height: 100% !important;
      }
      @media screen and (max-width: 640px) {
        .custom-section {
          padding:0;
        }
        .fullheight {
          height: calc(100vh - 3.5rem);
          max-height: 100% !important;
          overflow-y: hidden;
        }
      }
    </style>

{% endblock %}