{% load static i18n l10n %} {% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="{{LANGUAGE_CODE}}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block meta %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="shortcut icon"
      type="image/png"
      content="{% static 'icon/bus-icon.png' %}"
    />
    <link rel="manifest" href="{% static 'manifest.webmanifest' %}" />
    <meta name="application-name" content="Transport scolaire" />
    <meta
      name="description"
      content="A small but usefull School bus app"
    />
    <meta name="author" content="end3r" />
    <meta name="theme-color" content="#B12A34" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:image" content="{% static 'icon/bus-icon.png' %}" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      href=" https://cdn.jsdelivr.net/npm/bulma-calendar@6.1.19/dist/css/bulma-calendar.min.css "
      rel="stylesheet"
    />
    <link
      href="https://jenil.github.io/bulmaswatch/lumen/bulmaswatch.min.css"
      rel="stylesheet"
    />
    <script
      src=" https://cdn.jsdelivr.net/npm/bulma-calendar@6.1.19/dist/js/bulma-calendar.min.js "
      defer
    ></script>
    {% block more_assets %}{% endblock %}
    <script src="{% static 'app.js' %}" defer></script>

  {% block style %}{% endblock %}
  </head>
  <body>
    <nav
      class="navbar is-fixed-top is-warning has-shadow"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src={% static 'icon/bus-icon.png' %}>
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{% url 'home' %}">
            {% trans 'Home' %}
          </a>
          {% if user.is_authenticated %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">{% trans 'Calendars' %}</a>
            <div class="navbar-dropdown">
              {% comment %}
              <a class="navbar-item" href="{% url 'calendar' %}">
                {% trans 'Calendar' %}
              </a>
              {% endcomment %}
              <a class="navbar-item js-modal-trigger" data-target="modal-cal-feed">
                {% trans 'iCal feed' %}
              </a>
            </div>
          </div>
           <a class="navbar-item js-modal-trigger" data-target="modal-pdf">
                {% trans 'PDF' %}
          </a>
          {% endif %} {% if user.is_superuser or user.is_staff %}
          <a class="navbar-item" href="/admin"> {% trans 'Admin' %}</a>
          {% endif %}
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {% if not user.is_authenticated %} {% comment %}
              <a
                class="button is-rounded is-primary is-light"
                href="{% url 'registration_register' %}"
              >
                <strong>{% trans 'Sign up' %}</strong>
              </a>
              {% endcomment %}
              <a
                class="button is-rounded is-link is-light"
                href="{% url 'login' %}"
              >
                {% trans 'Log in' %}
              </a>
              {% else %}
              <a class="button is-rounded" href="{% url 'my-profile' %}">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="1em"
                  viewBox="0 0 384 512"
                >
                  <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                  <path
                    d="M256 48V64c0 17.7-14.3 32-32 32H160c-17.7 0-32-14.3-32-32V48H64c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16H320c8.8 0 16-7.2 16-16V64c0-8.8-7.2-16-16-16H256zM0 64C0 28.7 28.7 0 64 0H320c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64zM160 320h64c44.2 0 80 35.8 80 80c0 8.8-7.2 16-16 16H96c-8.8 0-16-7.2-16-16c0-44.2 35.8-80 80-80zm-32-96a64 64 0 1 1 128 0 64 64 0 1 1 -128 0z"
                  ></path>
                </svg>
                &nbsp; {{ user.username }}
              </a>
              <a
                class="button is-rounded is-danger is-light"
                href="{% url 'logout' %}"
              >
                {% trans 'Log out' %}
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="modal" id="modal-pdf">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">{% trans 'PDF' %}</p>
          <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <div>
            <h5 class="title is-5">{%trans 'Télécharger' %}</h5>
          </div>
           <div class="field is-grouped">
  <p class="control">
    <a class="button is-link" href="{% url 'week_planning' %}">
      Semaine courante
    </a>
  </p>
  <p class="control">
    <a class="button is-warning" href="{% url 'week_planning_moment' moment='next' %}">
      Semaine prochaine
    </a>
  </p>

</div>
{% if user.is_superuser or user.is_staff %}
 <div><h5 class="title is-5">{%trans 'Email' %}</h5></div>
           <div class="field is-grouped">
  <p class="control">
    <a class="button is-link" href="{% url 'send_mail' %}">
      Semaine courante
    </a>
  </p>
  <p class="control">
    <a class="button is-warning" href="{% url 'send_mail_moment' moment='next' %}">
      Semaine prochaine
    </a>
  </p>

</div>
{%endif%}
        </section>
      </div>
    </div>
    <div class="modal" id="modal-cal-feed">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">{% trans 'iCal feed' %}</p>
          <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <div>{%trans 'Copy/Paste this address into your network calendar application' %}</div>
          <pre><code>{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% url 'feed' %}</pre></code>
        </section>
      </div>
    </div>
    <section class="section custom-section">
      {% if messages %} 
        {% for message in messages %}
          <div class="notification is-primary is-overlay  is-pulled-right" style="width: 500px; z-index:1000;" >
            <button class="delete"></button>
            {{ message|safe }}
          </div>
        {% endfor %}
      {% endif %} 
      <div class="container">{% block content %} {% endblock%}</div>
    </section>
  </body>
  {% block script %} {% endblock %}
</html>
